*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color:black;

}
.introduction {
  background-image: url(./images/theme.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}
.card {
  margin-bottom: 20px;
  border: 5px solid black;
  border-radius: 0.5rem;
}
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}
.card-img-top{
  height: 200px;
  object-fit: cover;
}
main{
  background-color: black;
}
#contact{
  background-color: rgb(155, 197, 207);
}
